{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<ul>
        {% for post in mesPosts %}
            <li>{{ post.title }}</li>
        {% endfor %}
</ul>
<a = href=" mesPosts">mesPosts</a>

{% endblock %}